$fontFamily: 'Europa', sans-serif;
$font: 16px;
$fontMedium: 20px;
$fontLong: 26px;
$fontSubTitle: 32px;
$fontTitle: 52px;
$fontTitleMD: 40px;
$color: #414f9e;
$colorLight: #fff;
$colorDark: #000;
$colorOrange: #ff6901;


* {
	box-sizing: border-box;
}
html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body {
	font-family: $fontFamily;
	font-size: $font;
}
//Global properties
a {
	color: inherit;
	&:hover {
		text-decoration: none;
	}
}
button {
	&:hover,
	&:focus {
		outline: none;
	}
}
input {
	&:hover,
	&:focus {
		outline: none;
	}
}
